body {
    background: gray no-repeat fixed center;
    max-width: 1920px;
    max-height: 1080px;
    display: grid;
    grid-template-columns: repeat(32, 60px);
    grid-template-rows: repeat(18, 60px);
    font-family: Lobster;
    color: greenyellow;
}
header {
    grid-column: 1 / 10;
    grid-row: 1 / 4;
    text-align: center;
    font-size: 17px;
}
.symbol {
    max-width: 240px;
    max-height: 240px;
}
#rock {
    background: url("images/122-1220780_pebble-clipart-border-rock-icon-clipart-black-and.png");
    grid-column: 4 / 8;
    grid-row: 3 / 7;
    text-align: center;
}
#paper {
    background: url("images/dcd8fc2afdb658271f04c72389ef117d.jpg");
    grid-column: 2 / 6;
    grid-row: 8 / 12;
    text-align: center;
}
#scissors {
    background: url("images/648c9a851bd8b060d89b1da4f6dc837f.jpg");
    grid-column: 4 / 8;
    grid-row: 13 / 17;
    text-align: center;
}
.boards {
    text-align: center;
    border-style: solid;
    border-color: black;
    border-width: thin;
    font-size: 19px;
}
#player {
    grid-column: 7 / 9;
    grid-row: 10 / 12;
}
#computer {
    grid-column: 9 / 11;
    grid-row: 10 / 12;
}
#pla {
    grid-column: 7 / 9;
    grid-row: 8 / 10;
 }
#comp {
    grid-column: 9 / 11;
    grid-row: 8 / 10;
}
.mouseover {
    transform: scale(1.2, 1.2);
    border-style: solid;
    border-width: 10px;
    border-color: black;
}
.pSelected {
    transition: all .27s ease;    
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
}
.cSelected {
    transition: all .27s ease;    
    transform: scale(1.1);
    border-color: red;
    box-shadow: 0 0 1rem red;
}